{% extends 'base.html' %}
{% load static %}
{% block content %}
<center><h1> Register for Secure.IT Banking Services</h1>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username"><br>
    <input type="text" name="first_name" placeholder="First name"><br>
    <input type="text" name="last_name" placeholder="Last name"><br>
    <input type="email" name="email" placeholder="Email address"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="password" name="password1" placeholder=" Confirm password"><br>
    <input type="submit" class="btn btn-secondary">

</form><br>
{% for msg in messages %}

<h3>{{msg}}</h3>



{% endfor %}
<br><br></center>
<div class="container">
    <ul>
        <li>Mandatory fields are marked with an asterisk (*) </li>
        <li>Do not provide your username and password anywhere other than in this page</li>
        <li>Your username and password are highly confidential. Never part with them.Secure.IT Bank will never ask for this information.</li>

    </ul>
          <center>  <h5>Existing User?</h5><a href="{% url 'auth:login' %}" class="btn btn-success">Login now!!!</a></center>
    <br><br><br>
<p>NEVER respond to any popup,email, SMS or phone call, no matter how appealing or official looking, seeking your personal information such as username, password(s), mobile number, ATM Card details, etc. Such communications are sent or created by fraudsters to trick you into parting with your credentials.</p>

</div>
<br>
<br>
{% endblock %}